.error {
	display: none;
	color: red;
	margin-left: 8px;
}
.invalid + .error {
	display: inline-block;
}

input {
	margin: 10px;
	padding: 2px 4px;
	text-align: right;
	width: 150px;
}

#firstNum {
	margin-left: 18px;
}

.button {
	text-align: center;
	width: 171px;
	margin-bottom: 20px;
}

input[type="radio"] {
	margin: 10px 4px 0 10px;
	width: 20px;
}